<div class="container">

  <div class="row">

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Firebase log in </mat-card-title>
          <a href="https://firebase.google.com/?hl=es-419">Visit firebase</a>
        </mat-card-header>
        <img mat-card-image [src]="pic1" >

        <mat-card-content>
          <p>
            An amazing intuitive service to create your DB endpoints.
          </p>
        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Create your project and modify this</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic2" >

        <mat-card-content>
          <p>
            Let's give our needed read and write permission to work with
          </p>
        </mat-card-content>

      </mat-card>

    </div>

  </div>

  <hr>

<div class="row">

  <div class="col-md-6">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Now we can copy our endpoint in our "DATES" pin</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="pic3" >

      <mat-card-content>
        <p>
          Thanks google to offer this to the world.
        </p>
      </mat-card-content>

    </mat-card>

  </div>


  <div class="col-md-6">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>You feel god, cause you're god!!!</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="pic4" style="height: 500px" >

      <mat-card-content>
        <p>
          Come on, you want to know more.
        </p>
      </mat-card-content>

    </mat-card>

  </div>

</div>

  <hr>

  <div class="row">

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's create a service</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic5" >

        <mat-card-content>
            <p>That's mine, it works and sure can be done better</p>
        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's call our service!</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic6" >

        <mat-card-content>
          <p>
            I'm calling from a button function inside a form to send the value of an input
          </p>
        </mat-card-content>

      </mat-card>

    </div>


  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's use this service!</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic7" >

        <mat-card-content>
          <p>We push one value to an array on every click</p>
        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's retrieve our info</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic8" >

        <mat-card-content>
          <p>
            We retrieve all the array, looks nice cause it's nice
          </p>
        </mat-card-content>

      </mat-card>

    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's render this actions!!</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic8" >

        <mat-card-content>
          <p>We send by clicking, the string is send via ajax across our service</p>
        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Let's render the retrieve</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pic9" >

        <mat-card-content>
          <p>
            Yes baby, render my array.
            We apply ngFor and render making p elements with the content of each position
          </p>
        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
